.footer {
    background-color: #2d3038;
    color: #fff;
    font-variant-numeric: lining-nums proportional-nums;
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include fluid(gap, 15px, 40px);
        @include fluid(padding-bottom, 20px, 40px);
        border-bottom: #495677 solid 1px;
        &-logo {
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                object-fit: contain;
                @include fluid(width, 100px, 136px);
                @include fluid(height, 70px, 100px);
            }
            p {
                @include fluid(font-size, 14px, 18px);
                @include fluid(margin-left, 7px, 15px);
                font-style: normal;
                width: 215px;
                font-weight: 700;
                line-height: 125%;
                text-transform: uppercase;
            }
        }
        &-adress {
            font-size: 16px;
            white-space: nowrap;
            p:last-child {
                color: #a3acc5;
                font-variant-numeric: lining-nums proportional-nums;
                font-size: 14px;
                margin-top: 5px;
                font-style: normal;
                font-weight: 500;
                line-height: 125%;
            }
        }
        &-contacts {
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: right;
        }
        &-social {
            justify-content: space-between;
            display: flex;
            @include fluid(margin-right, 30px, 80px);
            @include fluid(margin-left, 20px, 60px);
            gap: 30px;
            font-size: 24px;
            align-items: center;
            a {
                display: flex;
                align-items: center;
                justify-content: center;
            }
            span {
                color: #a3acc5;
            }
        }
        &-phone {
            display: flex;
            flex-direction: column;
        }
        &-tel {
            @include fluid(font-size, 16px, 20px);
            font-style: normal;
            font-weight: 800;
            line-height: 125%;
            color: #fff;
            &::before {
                content: "\e909";
                font-family: "icomoon";
                color: #ff2574;
                @include fluid(font-size, 16px, 20px);
                @include fluid(margin-right, 8px, 15px);
            }
        }
        &-email {
            color: #ff2574;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }
        &-contacts--mobile {
            display: none;
        }
        &-adress--mobile {
            display: none;
        }
    }
    &__middle {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include fluid(padding-top, 20px, 40px);
        @include fluid(padding-bottom, 60px, 120px);
        border-bottom: #495677 solid 1px;
        font-size: 16px;
        &-links {
            display: flex;
            align-items: center;
            @include fluid(gap, 30px, 60px);
            a {
                color: #fff;
                font-weight: 700;
            }
        }
        &-privicy a {
            color: #a3acc5;
        }
        &-privicy--mobile {
            display: none;
        }
    }
    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include fluid(padding-top, 20px, 40px);
        color: #a3acc5;
        @include fluid(font-size, 14px, 16px);
        font-style: normal;
        font-weight: 500;
        line-height: 125%;
        &-develop {
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: #a3acc5 !important ;
            text-align: right;
            font-family: Raleway;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 125%;
            gap: 20px;
            img {
                object-fit: contain;
            }
        }
    }
    &__middle-mobile {
        display: none;
        color: #fff;
        font-weight: 700;
    }
}
.footerContainer {
    @include fluid(padding-top, 20px, 40px);
    @include fluid(padding-bottom, 20px, 40px);
    @include container;
}

@media screen and (max-width: 1061px) {
    .footer__header-adress {
        white-space: normal;
        width: 97%;
    }
}
@media screen and (max-width: 992px) {
    .footer {
        &__header {
            flex-wrap: wrap;
            &-logo {
                justify-content: start;
                width: 100%;
                border-bottom: #495677 solid 1px;
                padding-bottom: 25px;
                img {
                    width: 68px;
                    height: 50px;
                }
                p {
                    margin: 10px 20px;
                    text-align: left;
                }
            }
            &-adress {
                padding: 25px 0;
            }
            &-contacts {
                padding: 0 0 25px;
                flex-direction: row-reverse;
            }
            &-tel {
                text-align: left;
            }
        }
        &__middle {
            flex-wrap: wrap;
            justify-content: left;
            gap: 30px;
        }
    }
}
@media screen and (max-width: 768px) {
    .footer {
        &__header {
            flex-direction: column;
            align-items: start;
            padding: 0;
            gap: 0;
            &-logo {
                img {
                    width: 91px;
                    height: 67px;
                }
            }
            &-adress {
                display: none;
                p:last-child {
                    margin: 0;
                    font-size: 16px;
                }
            }
            &-contacts {
                display: none;
                margin-top: 25px;
            }
            &-contacts--mobile {
                display: flex;
                flex-direction: column-reverse;
                padding: 0;
                align-items: start;
            }
            &-adress--mobile {
                display: flex;
                flex-direction: column;
                width: 75%;
                line-height: 140%;
                gap: 20px;
                padding: 0;
            }
            &-phone {
                gap: 15px;
                justify-content: start;
                text-align: left;
            }
            &-social {
                margin-top: 15px;
                gap: 30px;
                justify-content: start;
                margin-left: 0;
            }
        }
        &__middle {
            gap: 0;
            flex-direction: column;
            align-items: start;
            border: none;
            padding: 25px 0;
            &-links {
                display: none;
                &--mobile {
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    text-align: left;
                }
            }
            &-privicy {
                display: none;
            }
            &-mobile {
                display: flex;
                gap: 0;
            }
            &-privicy--mobile {
                display: block;
            }
        }
        &__bottom {
            border-top: #495677 solid 1px;
            flex-direction: column;
            align-items: start;
            gap: 25px;
        }
    }
    .footerContainer {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 400px) {
    .footer__header-adress {
        white-space: wrap;
    }
    .footer__header-logo p {
        font-size: 13px;
    }
    .footer__middle-links {
        gap: 30px;
        flex-direction: column;
    }
}
